
<div class="row">
  <div class="col-md-12">
    <hr class="tall">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <hr class="tall">
  </div>
</div>


<div class="wrapper">
  <div class="uc-main clearfix">
    <div class="uc-aside">
      <div class="uc-menu">
        <div class="tit">订单中心</div>
        <ul class="sublist">
          <li><a class="active" href="javaScript:" [routerLink]="['/personalCenter']">我的订单</a></li>
          <li><a href="javaScript:">我的收藏</a></li>
          <li><a href="javaScript:">浏览历史</a></li>
        </ul>
        <div class="tit">售后服务</div>
        <ul class="sublist">
          <li><a href="javaScript:">商品评价</a></li>
          <li><a href="javaScript:">退款/退货</a></li>
        </ul>
        <div class="tit">账户中心</div>
        <ul class="sublist">
          <li><a href="javaScript:">账户信息</a></li>
          <li><a href="javaScript:">账户安全</a></li>
          <li><a href="javaScript:">收货地址</a></li>
        </ul>
        <div class="tit">消息中心</div>
        <ul class="sublist">
          <li><a href="javaScript:">通知消息</a></li>
        </ul>
      </div>
    </div>
    <div class="uc-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--脚部-->
<div class="fatfooter">

</div>
<!--脚部-->

