.address-item,.address-add{
  margin: 0 20px 0 0;
  width: 250px;
  padding: 5px 8px;
  float: left;
  border: 3px dashed #ccc;
  cursor: pointer;
}
.address-item:hover,.address-add:hover{
  background: #fafafa;
}
.address-item.active{
  border: 3px dashed #c60023;
}
.address-item .address-title{
  color: #666;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.address-item .address-detail{
  margin-top: 5px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  color: #666;
}
.address-item .address-opera{
  text-align: right;
  visibility: hidden;
}
.address-item:hover .address-opera{
  visibility: visible;
}
.address-item .address-opera .link{
  margin-right: 8px;
}
.address-item .address-opera .link:hover{
  color: red;
}
.address-add .address-new{
  padding: 8px 0;
  color: #ccc;
  text-align: center;
}
.address-add .address-new .fa{
  font-size: 50px;
  line-height: 50px;
}
.address-add .address-new .text{
  font-size: 12px;
}
.start{
  color: red;
  margin-right: 5px;
}

.col-sm-3{
  width: 20% !important;
}
.col-sm-9{
  width: 80% !important;
}
