<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li class="active">Pages</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>Login</h1>
      </div>
    </div>
  </div>
</section>

<div class="container">

  <div class="row">
    <div class="col-md-12">

      <div class="featured-boxes">
        <div class="row">
          <div class="col-md-12">
            <div class="featured-box featured-box-primary align-left mt-xlg">
              <div class="box-content">
                <h4 class="heading-primary text-uppercase mb-md">注册账号</h4>
                <form action="/" id="frmSignUp" method="post">
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-6">
                        <label>用户名</label>
                        <input type="text" value="" class="form-control input-lg" placeholder="账号/手机号/邮箱">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group">
                      <div class="col-md-3">
                        <label>密码</label>
                        <input type="password" value="" class="form-control input-lg">
                      </div>
                      <div class="col-md-3">
                        <label>确认密码</label>
                        <input type="password" value="" class="form-control input-lg">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      已有账号<a [routerLink]="['/login']">去登陆</a>
                    </div>
                    <div class="col-md-3">
                      <input type="submit" value="注册" class="btn btn-primary pull-right mb-xl" data-loading-text="请求中...">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
