<footer id="footer">
  <div class="container">
    <div class="row">
      <!--<div class="footer-ribbon">-->
        <!--<span>指尖服务</span>-->
      <!--</div>-->

      <div class="col-md-4">
        <h4>友情加盟</h4>
          <ul class="list list-icons list-icons-sm">
            <li><i class="fa fa-caret-right"></i> <a href="blog-full-width.html">天猫国际</a></li>
            <li><i class="fa fa-caret-right"></i> <a href="blog-large-image.html">京东商城</a></li>
            <li><i class="fa fa-caret-right"></i> <a href="blog-medium-image.html">苏宁易购</a></li>
            <li><i class="fa fa-caret-right"></i> <a href="blog-post.html">国美电器</a></li>
          </ul>
      </div>
      <div class="col-md-4">
        <div class="contact-details">
          <h4>联系我们</h4>
          <ul class="contact">
            <li><p><i class="fa fa-map-marker"></i> <strong>地址:</strong>https://gitee.com/wsmhz/projects</p></li>
            <li><p><i class="fa fa-phone"></i> <strong>联系电话:</strong>17757920735</p></li>
            <li><p><i class="fa fa-envelope"></i> <strong>邮件:</strong> <a href="tbj0402@163.com">tbj0402@163.com</a></p></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <h4>关注我们</h4>
        <ul class="social-icons">
          <li><a href="http://www.facebook.com/" target="_blank" title="微博"><i class="fa fa-weibo"></i></a></li>
          <li><a href="http://www.twitter.com/" target="_blank" title="微信"><i class="fa fa-weixin"></i></a></li>
          <li><a href="http://www.linkedin.com/" target="_blank" title="QQ"><i class="fa fa-qq"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a href="index.html" class="logo">
            <img alt="Porto Website Template" class="img-responsive" src="../../../assets/img/logo-footer.png">
          </a>
        </div>
        <div class="col-md-11">
          <p>© Copyright 2018. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
