<div class="container">

<div class="row">
  <div class="col-md-12 center">
    <h2 class="mt-xl mb-none">我们承诺</h2>
    <hr class="invisible">
  </div>
</div>

<div class="row mb-xl">
  <div class="col-md-3">
    <div class="feature-box feature-box-style-6">
      <div class="feature-box-icon">
        <i class="fa fa-check text-color-primary"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="pt-xs"><strong class="semi-bold">百强企业 品质保证</strong></h4>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="feature-box feature-box-style-6">
      <div class="feature-box-icon">
        <i class="fa fa-check text-color-primary"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="pt-xs"><strong class="semi-bold">七天退货 15天换货</strong></h4>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="feature-box feature-box-style-6">
      <div class="feature-box-icon">
        <i class="fa fa-check text-color-primary"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="pt-xs"><strong class="semi-bold">88元起 免运费</strong></h4>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="feature-box feature-box-style-6">
      <div class="feature-box-icon">
        <i class="fa fa-check text-color-primary"></i>
      </div>
      <div class="feature-box-info">
        <h4 class="pt-xs"><strong class="semi-bold">200站点 全国速运</strong></h4>
      </div>
    </div>
  </div>
</div>

</div>
