<div class="container">

  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr class="tall">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="mb-none"><strong>确认订单</strong></h2>
      <p></p>
    </div>
  </div>

  <app-shipping (shippingId)="chooseShipping($event)"></app-shipping>

  <hr class="tall">

  <div class="row">

    <div class="col-md-9">
      <div >
        <div >
          <h4 class="heading-primary">商品清单</h4>
        <table class="shop_table cart">
          <thead>
          <tr>
            <th class="product-thumbnail">
              &nbsp;
            </th>
            <th class="product-name">
              商品名称
            </th>
            <th class="product-price">
              商品价格
            </th>
            <th class="product-quantity">
              数量
            </th>
            <th class="product-subtotal">
              总价
            </th>
          </tr>
          </thead>
          <tbody>
          <tr class="cart_table_item" *ngFor="let cartProduct of cartProductList;">
            <td class="product-thumbnail">
              <a href="javaScript:">
                <img style="height: 70px;width: 120px" alt="产品图片" class="img-responsive" [src]="cartProduct.productMainImage">
              </a>
            </td>
            <td class="product-name">
              <a href="javaScript:">{{cartProduct.productName}}</a>
            </td>
            <td class="product-price">
              <span class="amount">￥{{cartProduct.productPrice}}</span>
            </td>
            <td class="product-quantity">
              ￥{{cartProduct.quantity}}
            </td>
            <td class="product-subtotal">
              <span class="amount">￥{{cartProduct.productTotalPrice}}</span>
            </td>
          </tr>
          </tbody>
        </table>

        <hr class="tall">

        <h4 class="heading-primary">订单信息</h4>
        <table class="cart-totals">
          <tbody>
          <tr class="cart-subtotal">
            <th>
              <strong>购物车小计</strong>
            </th>
            <td>
              <strong><span class="amount">￥{{cartTotalPrice}}</span></strong>
            </td>
          </tr>
          <tr class="shipping">
            <th>
              运费
            </th>
            <td>
              免运费
              <!--<input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">-->
            </td>
          </tr>
          <tr class="total">
            <th>
              <strong>订单总价</strong>
            </th>
            <td>
              <strong><span class="amount">￥{{cartTotalPrice}}</span></strong>
            </td>
          </tr>
          </tbody>
        </table>

        <hr class="tall">

        <h4 class="heading-primary">支付方式</h4>

          <div class="row">
            <div class="col-md-12">
														<span class="remember-box checkbox">
															<label>
																<input type="checkbox" checked="checked">支付宝支付
															</label>
														</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
														<span class="remember-box checkbox">
															<label>
																<input disabled type="checkbox">微信支付
															</label>
														</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
														<span class="remember-box checkbox">
															<label>
																<input disabled type="checkbox">银联支付
															</label>
														</span>
            </div>
          </div>
      </div>
      </div>

      <div class="actions-continue">
        <input type="button" (click)="pay()" value="去支付"class="btn btn-lg btn-secondary mt-xl">
      </div>

    </div>

  </div>

</div>
